include LICENSE
include README.md
include django_bs_carousel/*
include django_bs_carousel/templates/django_bs_carousel/carousel.html
include django_bs_carousel/static/django_bs_carousel/js/carousel.js
include django_bs_carousel/static/django_bs_carousel/js/imageLoader.js
include django_bs_carousel/static/django_bs_carousel/css/styles.css
include django_bs_carousel/static/django_bs_carousel/images/spinning-circles.svg
include django_bs_carousel/migrations/*
include docs/*
